<mat-sidenav-container autosize [hasBackdrop]="false">
  <mat-sidenav #drawer mode="side" class="sidenav">
    <div id="navbar" class="sidenav">

      <mat-nav-list>

        <mat-list-item routerLink='/picking' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">open_in_browser</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Picking</h4>
        </mat-list-item>

        <mat-list-item routerLink='/cycle-count' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">playlist_add_check</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Cycle Count</h4>
        </mat-list-item>

        <mat-list-item routerLink='/slotting-change' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">track_changes</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Slotting Change</h4>
        </mat-list-item>

        <mat-list-item routerLink='/rework' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">refresh</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Rework</h4>
        </mat-list-item>

        <mat-list-item routerLink='/inventory-dashboard' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">inventory</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Inventory Dashboard</h4>
        </mat-list-item>

        <mat-list-item routerLink='/status' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">pageview</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Container Status</h4>
        </mat-list-item>

        <mat-list-item routerLink='/health' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Crane Health</h4>
        </mat-list-item>

        <mat-list-item routerLink='/location' [routerLinkActive]="['is-active']">
          <mat-icon mat-list-icon [ngStyle]="{'color':'#f2f7ff'}">location_on</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Container Location</h4>
        </mat-list-item>

      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- <mat-sidenav-content> -->
  <mat-toolbar>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <!-- <span routerLink='/land'><img src="./assets/images/jk-papers.png"
        style="width: 123px; height: 50px;padding-left: 10px;"></span>

    <div class="signout-btn">

      <button mat-button>
        <span class="logout">Logout</span>
      </button>

    </div> -->
  </mat-toolbar>

  <!-- Add Content Here -->
  <ng-content></ng-content>


</mat-sidenav-container>